<div style=" text-align:center; align-items: center;justify-content: center;">
    <h1> Creacion de Estantes</h1>
    <form>
        <p>Número de Racks </p>
        <input type="text" id="cols" />
        <p>Número de Secciones</p>
        <input type="text" id="rows" />
        <br>
        <input class="button1" type="button" id="enviar" value="crear Estante" onclick="crear()"/>
        &nbsp;
        <input class="button1"  type="button" id="limpiar" value="Limpiar" onclick="crear2()"/>
    </form>
    <br><br>
    <div style="align-items: center; display: flex; justify-content: center;">
        <div id="resultado"></div>
    </div>
    <br><br>
</div>


