


<div class="fondo">
    <div style="position: absolute; top: 50px; ">
        <img src="imagenes/LOGO RACSAPP-BLANCO.png" alt="Avatar" class="avatar">
    </div>

    <div style="position: absolute; left:50%; justify-content: center;transform: translate(-50%, 0px); text-align:center; top: 50px; ">
       <h1> Usuario</h1>
    </div>

    <div style="position: absolute;right: 50px; top: 50px; ">
        <a href="/usuarios/"><img class="img2" src="https://www.w3schools.com/howto/img_avatar.png" /></a>
    </div>
    
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
    <div class="container">
        <label for="uname" style="color:white;  font-family: 'Barlow';font-weight: 100;">Nombre Completo</label>
        <input type="text"  name="uname" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Usuario</label>
        <input type="password"  name="psw" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Contraseña</label>
        <input type="password"  name="psw" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Puesto</label>
        <input type="password"  name="psw" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Fecha de Nacimiento</label>
        <input type="password"  name="psw" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Número de Empleado</label>
        <input type="password"  name="psw" required>

         
        
        <div class="container2" style="color:white">    
              <h2> Asignación de Permisos</h2>
                <input type="checkbox" class="check-with-label" id="idinput" />
                <label class="label-for-check" for="idinput" style="color:white;  font-family: 'Barlow';font-weight: 100;">Almacén &nbsp;&nbsp;</label>

                <input type="checkbox" class="check-with-label" id="idinput" />
                <label class="label-for-check" for="idinput"style="color:white;  font-family: 'Barlow';font-weight: 100;">Recepción&nbsp;&nbsp;</label>

                <input type="checkbox" class="check-with-label" id="idinput" />
                <label class="label-for-check" for="idinput"style="color:white;  font-family: 'Barlow';font-weight: 100;">Salida&nbsp;&nbsp;</label>

                <input type="checkbox" class="check-with-label" id="idinput" />
                <label class="label-for-check" for="idinput"style="color:white;  font-family: 'Barlow';font-weight: 100;">Configuración&nbsp;&nbsp;</label>
        </div>

        
        <div class="container3">    
            <a href="/usuarios/" class="button1" style="margin-right:10px">Guardar</a>
            <a href="/usuarios/" class="button1"  style="margin-left:10px">Cancelar</a>
        </div>
        <br><br>
        


    </div>
</div>



