    <div style="position: absolute; top: 50px; " class="encabezado">
        <img src="imagenes/LOGO RACSAPP-BLANCO.png" alt="Avatar" class="avatar">
    </div>




    <div style="position: absolute;right: 50px; top:  50px; " class="encabezado">
      <div class="dropdown">
        <img class="img2" src="https://www.w3schools.com/howto/img_avatar.png" />
        <div class="dropdown-content">
        <a a href="/usuario/">Perfil</a>
        <a href="/">Cerrar sesión</a>
        </div>
      </div>
    </div>
    
<router-outlet></router-outlet>