<div class="fondo">


    <div style="position: absolute; left:50%; justify-content: center;transform: translate(-50%, 0px); text-align:center; top: 50px;  display:block;">
       <h1> Usuarios</h1>
    </div>

 
    




    <div class="centro" style="display: block;">
        <div class="container4">
            <div class="input-wrapper">
                <input type="text" placeholder="Buscar" name="busqueda" (keyup)="applyFilter($event)" #input >
                <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                </svg>
            </div>
        </div>
          
       

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource"  class="listabicolor" style="background-color: transparent;color:white; ">
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #048d9c;color:white;  font-family: 'Barlow';font-weight: 100;  width:80%"> Nombre del Usuario</th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>
          
              <!-- Fruit Column -->
              
        <ng-container matColumnDef="boton">
            <th mat-header-cell *matHeaderCellDef style="background-color: #048d9c;color:white;  font-family: 'Barlow';font-weight: 100;  width:10%"> </th>
            <td mat-cell *matCellDef="let element" style="text-align: center; font-family: 'Barlow';font-weight: 100;"> <a href="/usuario/"><button mat-mini-fab style="background-color:transparent;box-shadow: none; color:white" ><mat-icon>edit</mat-icon></button></a></td>
        </ng-container>


        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef style="background-color: #048d9c;color:white;  font-family: 'Barlow';font-weight: 100;  width:10%"> </th>
            <td mat-cell *matCellDef="let score; let i = index;" style="text-align: center; font-family: 'Barlow';font-weight: 100;">  <button mat-mini-fab style="background-color:transparent;box-shadow: none; color:white" (click)="remove(i)"><mat-icon>cancel</mat-icon></button> </td>
        </ng-container>

          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator style="background-color: #048d9c;color:white; " [pageSizeOptions]="[5]" aria-label="Select page of users"></mat-paginator>
          </div>

         <div class="container3">    
            <a href="/usuario/" class="button1" style="margin-right:10px" >Agregar Usuario</a>
            <a href="/home/" class="button1" style="margin-left:10px" > Cancelar</a>
        </div> 
    </div>
</div>
