
<div class="fondo">
 <div class="chayote">
  <h1> BIENVENIDO </h1>
  </div>

  <mat-drawer-container class="example-container" autosize style="margin-left: -20%;">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      
      <div class="imgcontainer">
        <img src="imagenes/LOGO RACSAPP-BLANCO.png" alt="Avatar" class="avatar">
      </div>

      <h2> MÓDULOS </h2>
      

      <mat-list role="list" >
      <mat-list-item role="listitem" ><a href="/gemelo/">Gemelo Digítal</a></mat-list-item>
      <mat-list-item role="listitem">Recepción de Productos</mat-list-item>
      <mat-list-item role="listitem">Salida de Productos</mat-list-item>
      <mat-list-item role="listitem">Configuración</mat-list-item>
      <mat-list-item role="listitem"><a href="/usuarios/">Usuarios</a></mat-list-item>
      </mat-list>


      <div class ="container3"><a href="/">Cerrar Sesión</a></div>
    </mat-drawer>

    

    
    <div class="example-sidenav-content" class="aguacate" style="position: absolute;left: 50px; top:  150px; ">
      <button  mat-mini-fab (click)="drawer.toggle()" >
          <mat-icon>menu</mat-icon>
      </button>
      
    </div>

  </mat-drawer-container>


 


</div>