
<div class="fondo">
    <div class="container2">    
        <h1>BIENVENIDO</h1>
        <h1>A</h1>
    </div>

    <div class="imgcontainer">
        <img src="imagenes/LOGO RACSAPP 2.png" alt="Avatar" class="avatar">
    </div>
    <div class="container2">    
            <p style="color:white;  font-family: 'Barlow';font-weight: 100;"> Inicio de Sesión </p>

    </div>
    <div class="container">
        <label for="uname" style="color:white;  font-family: 'Barlow';font-weight: 100;">Usuario</label>
        <input type="text"  name="uname" required>

        <label for="psw" style="color:white;  font-family: 'Barlow';font-weight: 100;">Contraseña</label>
        <input type="password"  name="psw" required>
        
        <div class="container2">    
            <br><br><a href="/home" class="button1">Entrar</a>
        </div>
    </div>
    <h3>POWERED BY</h3>
    <h4>VANTY</h4>

    <h5>IN COLLABORATION</h5>
    <h6>BY RIJAYA</h6>
</div>


