
<div class="fondo">
   <div style=" width: 100%; text-align: right; margin-right: 16%;" >
      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [(ngModel)]="dark"
            >
            <mat-icon style="color: {{color}}; font-size:25px;" >{{icono}}</mat-icon>
        </mat-slide-toggle>
      </section>
    </div>

    <div class="container2">    
        <h1>BIENVENIDO</h1>
        <h1>A</h1>
        
    </div>

    <div class="imgcontainer">
        <img src="imagenes/LOGO RACSAPP 2.png" alt="Avatar" class="avatar">
    </div>
    <div class="container2">    
            <p style="font-family: 'Barlow';font-weight: 100;"> Inicio de Sesión </p>

    </div>
    <div class="container">
        <label for="uname" style=" font-family: 'Barlow';font-weight: 100;">Usuario</label>
        <input type="text"  name="uname" required>

        <label for="psw" style="  font-family: 'Barlow';font-weight: 100;">Contraseña</label>
        <input type="password"  name="psw" required>
        
        <div class="container2">    
            <br><br><a href="/home/" class="button1">Entrar</a>
        </div>
    </div>
    <h3>POWERED BY</h3>
    <h4>VANTY</h4>

    <h5>IN COLLABORATION</h5>
    <h6>BY RIJAYA</h6>
</div>


